body {
  margin-top: -30px;
}

.bg-main {
  background: #ff9f0d;
}

.c-main {
  color: #ff9f0d;
}

.btn-main {
  border-radius: 30px;
  border-color: transparent !important;
}

.btn-main:hover {
  background: #ff9e0dd8;
}

.br-custom {
  border-radius: 45px 0;
}

.main {
  background: url(../src/img/bg-min.png) no-repeat top right;
  background-size: 50%;
}

.bg-bl {
  background: url(../src/img/8-min.png) no-repeat bottom left;
  background-size: 14%;
}

.nav-link {
  cursor: pointer;
}

.h-100 {
  height: 100px;
}
